@import url('normalize.css');

/*,
*::before,
*::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}*/

html{
	font-size: 10px;
	font-family: helvetica, arial, sans-serif;
}

body{
	font-size: 1.6rem;
	color: white;
	background-color: black;
}

header{
	background-color: white;
	color: black;
	height: 5vh;
}

header a{
	text-decoration: none;
	color: #e94529;
	padding: 2rem;
}

main{
	min-height: calc(100vh - 10vh);
	color: white;
}

footer{
	background-color: white;
	color: black;
	height: 5vh;
}

footer p{
	font-size: 1.8rem;
	color: #e94529;
	text-align: center;
	line-height: 5vh;
}