@import url('normalize.css');

*,
*::before,
*::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-size: 10px;
	font-family: helvetica, arial, sans-serif;
}

body{
	font-size: 1.6rem;
	color: white;
	background-color: black;
}

header{
	background-color: white;
	color: black;
	/*height: 5vh;*/
	height: 5rem;
	line-height: 5rem;
	font-size: 1rem;
}

header a{
	text-decoration: none;
	color: #e94529;
	padding: 2rem;
}

main{
	/*min-height: calc(100vh - 10vh);*/
	min-height: calc(100vh - 10rem);
	color: white;
	font-size: 1rem;
}

main ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 4rem;
}

.houses li{
	list-style: none;
	width: 100%;
	height: 35rem;
	padding: 0.5rem;
	text-align: center;
	/*background-color: #454545;*/
	position: relative;
	border-bottom: 0.1rem solid white;
}

.houses li:last-of-type{
	border-bottom: none;
}

.house img{
	width: 90%;
	height: 20rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-bottom: 2rem;
}

footer{
	background-color: white;
	color: black;
	/*height: 5vh;*/
	height: 5rem;
}

footer p{
	font-size: 1.8rem;
	color: #e94529;
	text-align: center;
	/*line-height: 5vh;*/
	line-height: 5rem;
}


@media screen and (min-width: 480px){
	header{
		font-size: 1.6rem;
	}

	main{
		font-size: 1.6rem;
	}

	main ul{
		align-items: flex-start;
	}

	.houses li{
		width: 42rem;
		height: 40rem;
		border-bottom: none;
	}

	.house img{
		width: 40rem;
		margin-bottom: 0;
	}
}